body {
  background-color: #45957a;
  padding: 10px;
}

h1,
h2,
label {
  color: #83d0f2;
}

h1,
h2 {
  text-align: center;
}

nav {
  background-color: #3ab4a6;
  border-radius: 15px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 50px;
  max-width: 540px;
}
a {
  margin: 0 10px;
}
form {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 20px 0;
}

input {
  margin: 0 auto 10px;
}

label {
  line-height: 30px;
  margin-right: 5px;
}

.text-input {
  padding: 7px 5px 5px;
}

.notification-badge {
  display: inline;
  background-color: #ff8c00;
  color: white;
  border-radius: 4px;
  padding: 2px 5px 3px;
  margin-left: 4px;
}

.form-container {
  border: 1px solid #faffbd;
  margin: 0px auto;
  padding: 0 10px;
  max-width: 360px;
}

.submit-button {
  background-color: #00d1b2;
  color: #ffdcb0;
  border: none;
  padding: 10px 30px 7px;
  grid-column: 2;
}
